3Ramas/
1Configuracion/
4RegresarVersionAnterior/
5ActualizarCambiosArchivo/
6IgnorarArchivosyCarpetas/
7IrPuntoAnteriorProyecto/
8EliminarSeriePasosDefSEGUN/
9Tags/
10Ramas/
11Unir2Ramas/
12ConflictosMerge/
13AlmacenamientoTemporalStash/
14EliminarRama/
14TraerRamaalMain/
15EliminarRama/
16GenerarSSHdeGithub/
17ConexionRemotaconLocal/
11Unir2Ramas/
18ModificacionesLocalSubir/
19ConsultarHistorialCmabiosLocalYRemoti/
20DescargarActualizacionesProyecto/

